form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
   
}
.width{
    width: 90%;
    margin: auto;
    
}
.titulo-doctorAgregar{
    margin: 40px;
    font-size: 40px;
    text-align: center;
}
.segmento-doctor{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
h3 {
    text-align: center;
    font-size: 12px;
    position: relative;

    color: red;
    display: none;
}
.segmento-doctor input{
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    background: rgba(24, 22, 22, 0.1);
  
}
.segmento-doctor label{
    position: absolute;
    padding: 10px;
    z-index: -20;
    color: rgba(0, 0, 0,0.8);
    transition: 0.5s;
    
}
.segmento-doctor input:focus + label{
    margin-top: -35px;
    color: rgba(0, 0, 0);
} 

.btn-agregar{
    width: 400px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(31, 190, 92);
    color: white;
    border: 0px ;
}
.confirmacionDoctor{
    background-color: white;
    width: 33%;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    top: 33%;
    left: 33%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.btn-aceptarDoctor{
    background-color: teal;
    margin: 20px auto;
    width: 40%;
    font-size: 1.5em;
    border: 0px solid black;
    padding: 10px;
    color: white;
    border-radius: 10px;
   
}