
.titulo-agregar{
    margin: 40px;
    font-size: 40px;
    text-align: center;
}

.form-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.width-producto{
    margin-top: 50px;
    
    border-radius: 30px;
    width: 90%;
    margin: auto;
}

.segmento-producto{
    margin: 10px;
}

h3 {
    text-align: center;
    font-size: 12px;
    position: relative;
    left: 30px;
    color: red;
    display: none;
}
.select-producto{
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}



.labelito{
    display: inline-block;
    width: 200px;
    text-align: right;
    margin: 10px;
    
}
.btn-agregar-producto{
    width: 150px;
    border-radius: 30px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(31, 190, 92);
    color: white;
    border: 0px ;
}
.segmento-producto{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px;
}
.segmento-producto input{
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
} 
.confirmacionProducto{
    background-color: white;
    width: 33%;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    top: 33%;
    left: 33%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.btn-aceptarProducto{
    background-color: teal;
    margin: 20px auto;
    width: 40%;
    font-size: 1.5em;
    border: 0px solid black;
    padding: 10px;
    color: white;
    border-radius: 10px;
   
}