
body{
    
}
.centro{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadricula{
    
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255,0.5);
    border: 1px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.titulo-agregar{
    margin: 40px;
    font-size: 40px;
    text-align: center;
}
.form-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.width-producto{
    margin-top: 50px;
    
    border-radius: 30px;
    width: 90%;
    margin: auto;
}

span {
    text-align: center;
    font-size: 18px;
    position: relative;
    font-weight: 450;
    color: red;
    display: none;
}
.select-producto{
    width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn-agregar-producto{
    width: 400px;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(31, 190, 92);
    color: white;
    border: 0px ;
}
.segmento-producto{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.segmento-producto input{
    width: 400px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    background: rgba(24, 22, 22, 0.1);
    
}
.segmento-producto label{
    position: absolute;
    padding: 10px;
    z-index: -20;
    color: rgba(0, 0, 0,0.6);
    transition: 0.5s;
    
}
.segmento-producto input:focus + label{
    margin-top: -35px;
    color: rgba(0, 0, 0);
} 
.confirmacionProducto{
    background-color: white;
    width: 33%;
    height: 250px;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    top: 33%;
    left: 33%;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.btn-aceptarProducto{
    background-color: teal;
    margin: 20px auto;
    width: 40%;
    font-size: 1.5em;
    border: 0px solid black;
    padding: 10px;
    color: white;
    border-radius: 10px;
   
}
