form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.width-inventario{
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 5px #999;
}
.segmento-inventario{
    margin: 10px auto;
}
h3 {
    text-align: center;
    font-size: 12px;
    position: relative;
    left: 30px;
    color: red;
    display: none;
}
select{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}


.segmento-inventario input{
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
  
}
.labele{
    display: inline-block;
    width: 180px;
    text-align: right;
    margin: 10px;
}
